---
import { SITE_TITLE } from "../consts";

interface Props {
  root?: true;
  page?: {
    href: string;
    text: string;
  };
}

const { page, root } = Astro.props;
const titleClasses = "py-3 text-zinc-900/80 dark:text-zinc-100/60";
---

<header class="flex flex-row place-content-center">
  <nav class="flex w-full max-w-3xl items-center">
    {
      root ? (
        <span class:list={[titleClasses, "cursor-default"]}>{SITE_TITLE}</span>
      ) : (
        <a href="/" class={titleClasses}>
          {SITE_TITLE}
        </a>
      )
    }

    {
      typeof page !== "object" ? null : (
        <>
          <span class="divider mx-1">/</span>
          <a href={page.href} class="sub-site">
            {page.text}
          </a>
        </>
      )
    }
  </nav>
</header>
